content/docs/contributor/antalmanac @icssc/antalmanac

content/docs/contributor/peterportal @icssc/peterportal

content/docs/contributor/anteaterapi @icssc/api
content/docs/contributor/developer @icssc/api

content/docs/contributor/zotistics @icssc/zotistics

content/docs/contributor/peterplate @icssc/peterplate

content/docs/contributor/zotmeet @icssc/zotmeet

content/docs/contributor/zotnfound @icssc/zotnfound

content/docs/contributor/developer/centralized-calendar @icssc/special-projects

content/docs/brand @alexanderl19 @ecxyzzy @MinhxNguyen7
