content/docs/contributor/antalmanac-scheduler @icssc/antalmanac

content/docs/contributor/antalmanac-planner @icssc/peterportal

content/docs/contributor/anteaterapi @icssc/api
content/docs/developer/anteaterapi @icssc/api

content/docs/contributor/peterplate @icssc/peterplate

content/docs/contributor/zotmeet @icssc/zotmeet

content/docs/developer/centralized-calendar @icssc/special-projects
